# Built application files
*.apk
*.ap_
*.aab

*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/app/build
/app/src/androidTest
/app/src/test
/easeui/build
/easeui/src/androidTest
/easeui/src/test
/captures
.externalNativeBuild
/app/release